<div class="box box-primary">
    <div class="box-header text-right">
        <button ui-sref="document.new" class="btn btn-primary btn-xs">Add New Document</button>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Promulgation Date</th>                 
                                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="a in $ctrl.documents">
                        <td>{{a.title}}</td>
                        <td>sample</td>
                        <td>{{a.promulgation_date | date:'MMM dd, yyyy'}}</td>
                        <td class="text-right">
                            <button class="btn btn-danger btn-xs" ng-click="$ctrl.deleteDoc(a.id,$index)">Delete</button>
                            <button class="btn btn-success btn-xs" ui-sref="document.show({id:a.id})">View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
