
<section class="content" >
  <div class="row" ng-if="home.data.admin">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-user"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Users</span>
          <span class="info-box-number">{{home.data.user}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-file"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Documents</span>
          <span class="info-box-number">{{home.data.total_docs}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-file"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Pending Document</span>
          <span class="info-box-number">{{home.data.pending_docs}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-file"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Latest Document</span>
          <span class="info-box-number">{{home.data.latest_docs}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="!home.data.admin">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-user"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">My Document</span>
          <span class="info-box-number">{{home.data.user}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-file"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">All Documents</span>
          <span class="info-box-number">{{home.data.total_docs}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-file"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">My Pending Document</span>
          <span class="info-box-number">{{home.data.pending_docs}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-file"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Latest Document</span>
          <span class="info-box-number">{{home.data.latest_docs}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-default" style="min-height: 500px;">
        <div class="boxbody">
          <div class="row">
            <div class="searchForm">
              <div class="col-md-12">
                <form ng-submit="home.goSearch(home.s)">
                  <div class = "input-group">
                   <input type = "text" class = "form-control" ng-model="home.s.searchStr">
                   <span class = "input-group-btn">
                      <button class = "btn btn-default" type = "submit">
                         Go!
                      </button>
                   </span>
                  </div>
                </form>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="col-sm-12" ng-repeat="a in home.data.results">
                <h4><a ui-sref="document.show({id:a.id})">{{a.title}}</a></h4>
                <p >
                  <div style="color:green" ng-bind-html="a.abstract | htmlToPlaintext | limitTo: 300 | sanitize_html"></div>
                 
                  <small style="color:#777">Author: {{a.author}}</small> <small style="color:#777">Promulgation Date: {{a.promulgation_date}}</small>
                </p>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="col-sm-12">
                
                <hr>
                <p><b>Opinion</b></p>
                <a class="btn btn-app" style="margin:5px 10px 0 0" ng-repeat="(a,b) in home.data.opinion_year ">
                    <i class="fa fa-calendar"></i><span ng-click="newdoc.removeTag($index)" class="badge bg-green">{{b}}</span>
                    {{a}}
                </a> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="col-sm-12">
               
                <hr>
                <p><b>Decision</b></p>
                <a class="btn btn-app" style="margin:5px 10px 0 0" ng-repeat="(a,b) in home.data.decision_year">
                    <i class="fa fa-calendar"></i><span ng-click="newdoc.removeTag($index)" class="badge bg-green">{{b}}</span>
                    {{a}}
                </a> 
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>
