<div class="box box-success">
    
    <div class="box-header"><b>New Document</b></div>
    <div class="box-body">
        
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" class="form-control" placeholder="Title" ng-model="newdoc.data.title">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">

                <div class="form-group">
                    <label for="">Subject Matter</label>
                    <input type="text" class="form-control" placeholder="Subject Matter" ng-model="newdoc.data.subject">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="">Abstract</label>
                <textarea ui-tinymce="newdoc.tinymceOptions" ng-model="newdoc.data.abstract"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <label for="">Body</label>
                <textarea ui-tinymce="newdoc.tinymceOptions" ng-model="newdoc.data.body"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Author</label>
                    <input type="text" class="form-control" placeholder="Author" ng-model="newdoc.data.author">
                </div>
            </div>
           <div class="col-md-6">
                <div class="form-group">
                    <label for="">Case Number</label>
                    <input type="text" class="form-control" placeholder="Case Number" ng-model="newdoc.data.case_number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Parties</label>
                    <input type="text" class="form-control" placeholder="Party Name" ng-model="newdoc.data.parties[0]">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">&nbsp;</label>
                    <input type="text" class="form-control" placeholder="Party Name" ng-model="newdoc.data.parties[1]">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">&nbsp;</label>
                    <input type="text" class="form-control" placeholder="Party Name" ng-model="newdoc.data.parties[2]">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Promulgation Date</label>
                    <datepicker date-format="yyyy-MM-dd">
                      <input class="form-control pull-right" ng-model="newdoc.data.promulgation_date" placeholder="Promulgation date" type="text"/>
                    </datepicker>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Decision</label>
                    <select class="form-control" ng-model="newdoc.data.decision" ng-options="a.value as a.label for a in newdoc.decisions">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Tags</label>
                    <form ng-submit="newdoc.addtag(newdoc.tag)">
                        <input type="text" class="form-control" ng-model="newdoc.tag" placeholder="Tag">
                    </form>
                </div>
                <ul class="tags">
                    <li style="background: #ddd;padding:5px;display: inline-block;border-radius: 10px;margin-right: 10px;margin-top: 5px;" ng-repeat="tag in newdoc.data.tags track by $index">{{tag}}</li>
                </ul>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                    <label for="">Attachment</label>
                    <div 
                        flow-init
                        flow-file-progress="newdoc.progress( $file, $flow )"
                        flow-file-added="newdoc.added( $file, $event, $flow )"
                        flow-name="newdoc.flowdata">
                        <span class="btn btn-default" flow-btn>Upload File
                        <input type="file" multiple="multiple" style="visibility: hidden; position:absolute;"></span>
                    </div>
                </div>
                <div class="pdf_wrapper" ng-repeat="c in newdoc.file_content">
                    <i class="fa fa-file-pdf-o"></i> <span style="font-size:12px">{{c.name}}</span>
                </div>
            </div>
        </div>
       
        <div class="row">
            
            <div class="col-md-12">
                <b>Links</b>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="label"> 
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="link"> 
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="btn btn-success">Add</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" ng-click="newdoc.submit();">SUBMIT</button>
            </div>
        </div>
        
    </div>
</div>