<div class="box box-success">
    
    <div class="box-header"><b>New Document</b></div>
    <div class="box-body">
        
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" class="form-control" placeholder="Title" ng-model="editdoc.data.title">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">

                <div class="form-group">
                    <label for="">Subject Matter</label>
                    <input type="text" class="form-control" placeholder="Subject Matter" ng-model="editdoc.data.subject">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="">Abstract</label>
                <textarea ui-tinymce="editdoc.tinymceOptions" ng-model="editdoc.data.abstract"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <label for="">Body</label>
                <textarea ui-tinymce="editdoc.tinymceOptions" ng-model="editdoc.data.body"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Author</label>
                    <input type="text" class="form-control" placeholder="Author" ng-model="editdoc.data.author">
                </div>
            </div>
           <div class="col-md-6">
                <div class="form-group">
                    <label for="">Case Number</label>
                    <input type="text" class="form-control" placeholder="Case Number" ng-model="editdoc.data.case_number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Parties</label>
                    <input type="text" class="form-control" placeholder="Party Name" ng-model="editdoc.data.parties[0]">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">&nbsp;</label>
                    <input type="text" class="form-control" placeholder="Party Name" ng-model="editdoc.data.parties[1]">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">&nbsp;</label>
                    <input type="text" class="form-control" placeholder="Party Name" ng-model="editdoc.data.parties[2]">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Promulgation Date</label>
                    <datepicker date-format="yyyy-MM-dd">
                      <input class="form-control pull-right" ng-model="editdoc.data.promulgation_date" placeholder="Promulgation date" type="text"/>
                    </datepicker>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Decision</label>
                    <select class="form-control" ng-model="editdoc.data.decision" ng-options="a.value as a.label for a in editdoc.decisions">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            
        </div>
       
        <div class="row">
            <div class="col-md-4" ng-if="editdoc.admin">
                <div class="form-group">
                    <label for="">Tags</label>
                    <form ng-submit="editdoc.addtag(editdoc.tag)">
                        <input type="text" class="form-control" ng-model="editdoc.tag" placeholder="Tag">
                    </form>
                </div>
                <a class="btn btn-app" style="margin:5px 10px 0 0" ng-repeat="tag in editdoc.data.tags track by $index">
                    <i class="fa fa-tags"></i><span ng-click="editdoc.removeTag($index)" class="badge bg-red">remove</span>
                    {{tag}}
                </a>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Attachment</label>
                    <div 
                        flow-init
                        flow-file-progress="editdoc.progress( $file, $flow )"
                        flow-file-added="editdoc.added( $file, $event, $flow )"
                        flow-complete="editdoc.uploadComplete()"
                        flow-name="editdoc.flowdata">
                        <span class="btn btn-default" flow-btn>Add File
                        <input type="file" multiple="multiple" style="visibility: hidden; position:absolute;"></span>
                    </div>
                </div>
                <a target="_blank" class="btn btn-app" style="margin:5px 10px 0 0" ng-repeat="c in editdoc.data.attachments">
                    <span class="badge bg-red" ng-click="editdoc.removeFile($index)">remove</span>
                    <i class="fa fa-file-pdf-o"></i>{{c.attachment}}
                </a>
                <a target="_blank" class="btn btn-app" style="margin:5px 10px 0 0" ng-repeat="c in editdoc.file_content">
                    <span class="badge bg-red" ng-click="editdoc.removeFlowFile($index)">remove</span>
                    <i class="fa fa-file-pdf-o"></i>{{c.name}}
                </a>
            </div>
            <div class="col-md-5">
                <label for="">Links</label>
                <form class="form-inline" ng-submit="editdoc.addLink(editdoc.temp)">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="label" ng-model="editdoc.temp.label"> 
                    </div>
               
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="link" ng-model="editdoc.temp.link"> 
                    </div>
                
                    <div class="form-group">
                        <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
                    </div>
                </form>
                <div ng-repeat="a in editdoc.data.links">
                    <a class="btn btn-app" style="margin:5px 10px 0 0" >
                        <span class="badge bg-red" ng-click="editdoc.removeLink($index)">remove</span>
                        <i class="fa fa-link"></i>{{a.label}}
                    </a>
                </div>
                
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" ng-click="editdoc.update();">Save Changes</button>
                <br>
                <br>
                <div ng-if="editdoc.processing">
                    uploading attachment... {{editdoc.total_upload}} %
                    <div class="progress progress-sm active">

                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" ng-style="{width: editdoc.total_upload+'%'}">
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="box-footer" >
        <button ng-if="editdoc.data.status!='published'" class="btn btn-success" ng-click="editdoc.approve()">Approve</button>
        <button ng-if="editdoc.data.status!='rejected' && editdoc.admin" class="btn btn-danger" ng-click="editdoc.reject()">Reject</button>
        <button class="btn btn-default" ng-if="editdoc.admin" ng-click="editdoc.reasign()">Re-Assign</button>
        
    </div>
</div>

<div class="modal fade" id="docsReassign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form class="" ng-submit="editdoc.submit()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Document Re Assign</h4>
      </div>
      <div class="modal-body">
            <div class="form-group">
                <select class="form-control" ng-options="a.id as a.fullname for a in editdoc.userlist" ng-model="editdoc.data.assign_id">
                    <option value="" selected hidden disabled>-Select User-</option>
                </select>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>