<div class="box box-success">
    
    <div class="box-header">
        <b class="pull-left">{{showdoc.document.title}} Document</b>
        <button class="btn btn-success btn-xs pull-right" ng-click="showdoc.goback()"><i class="fa fa-arrow-left"></i> Back</button>
        <div class="clearfix"></div>
    </div>
    <div class="box-body">
        <div class="row">
        	<div class="col-md-12">
        		<p class="text-right"><b>Promulgation Date: </b> {{showdoc.document.promulgation_date | date:'MMM dd, yyyy'}}<br> <b> Author: </b> {{showdoc.document.author}}</p>
        		<hr>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-12" >
        		<div ng-bind-html="showdoc.document.abstract | sanitize_html" style="background: #eff0f1;padding:10px;margin-bottom:20px" ></div>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-12" >
        		<div ng-bind-html="showdoc.document.body | sanitize_html" ></div>
        	</div>
        </div>
        
        <div class="row">
        	<div class="col-md-12" >
        		<p>
        			<span style="width:118px;display: inline-block;"><b>Document Type: </b></span> 
        			<span style="text-transform: capitalize;">{{showdoc.document.decision}}</span>
        		</p>  
				<p><span style="width:118px;display: inline-block;"><b>Case Number: </b></span>{{showdoc.document.case_number}}</p> 
				<p><span style="width:118px;display: inline-block;"><b>Subject Matter:</b></span>{{showdoc.document.subject}}</p> 
				<p><span style="width:118px;display: inline-block;"><b>Parties:</b></span>
					{{showdoc.document.parties[0]}} &nbsp; {{showdoc.document.parties[1]}} &nbsp;{{showdoc.document.parties[2]}}</p> 
                    <hr>
        	</div>
        </div>
       
        <div class="row">
            <div class="col-md-4" >
                <h4>Attachment</h4>
                <a target="_blank" href="uploads/file/{{a.attachment}}" class="pdf_wrapper" ng-repeat="a in showdoc.document.attachments">
                    <i class="fa fa-file-pdf-o"></i> <span style="font-size:12px">{{a.attachment.split("_")[1]}}</span>
                </a>
                
            </div>
            <div class="col-md-3" >
                <h4>Links</h4>
                <ul>
                    <li ng-repeat="a in showdoc.document.links">
                        <a target="_blank" href="{{a.link}}">{{a.label}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5" >
                <h4>Tags</h4>
                <ul class="tags">
                    <li style="background: #ddd;padding:5px;display: inline-block;border-radius: 10px;margin-right: 10px;" ng-repeat="a in showdoc.document.tags">{{a}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" >
                
            </div>
        </div>
    </div>
   
</div>