<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
        <li>
            <a ui-sref="main">
                <i class="fa fa-home"></i> <span>Home</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
        </li>
        <li>
            <a ui-sref="search">
                <i class="fa fa-search"></i> <span>Advance Search</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
        </li>

        <li ng-if="$ctrl.isAdmin || $ctrl.permission==2 || $ctrl.permission==3">
            <a ui-sref="document">
                <i class="fa fa-file"></i> <span>Documents</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                
                <li ng-if="$ctrl.isAdmin || $ctrl.permission==3">
                    <a ui-sref="document.pending"><i class="fa fa-circle-o"></i> For Review</a>
                </li>
                <li ng-if="$ctrl.isAdmin || $ctrl.permission==3">
                    <a ui-sref="document.rejected"><i class="fa fa-circle-o"></i> Rejected</a>
                </li>

            </ul>
        </li>
        <li ng-if="$ctrl.isAdmin">
            <a ui-sref="user">
                <i class="fa fa-user"></i> <span>User</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <!-- <a ui-sref="index.users"><i class="fa fa-circle-o"></i> Role</a> -->
                </li>

            </ul>
        </li>
        <li ng-if="$ctrl.isAdmin">
            <a ui-sref="audit">
                <i class="fa fa-shield"></i> <span>Audit</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a ui-sref="audit.login"><i class="fa fa-circle-o"></i> Login Log</a>
                </li>

            </ul>
        </li>
    </ul>
  </section>
</aside>