<div class="box box-success">
    <div class="box-header with-border">
        <p class="pull-left"><b>Rejected Documents</b></p>
        <div class="clearfix"></div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Promulgation Date</th>                 
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="a in rejectDoc.documents">
                        <td>{{a.author}}</td>
                        <td>{{a.title}}</td>
                        <td style="text-transform: capitalize;">{{a.status}}</td>
                        <td>{{a.promulgation_date | date:'MMM dd, yyyy'}}</td>
                        <td class="text-right">
                            <button class="btn btn-danger btn-xs" ng-click="$ctrl.deleteDoc(a.id,$index)">Delete</button>
                            <button class="btn btn-success btn-xs" ui-sref="document.show({id:a.id})">View</button>
                            <button class="btn btn-success btn-xs" ui-sref="document.edit({id:a.id})">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
