.user-tag{
	background:#222d32;
	text-align: center;
	padding:2px 0 0 0;
}
section.content{
    background: #ecf0f5;
    height: calc(100vh - 101px);
    overflow: auto;
}
.logo .logo-mini img, .logo .logo-lg img{
    height: 40px;
}
.tags{
	list-style: none;
	padding: 0;
}
.tags li{
	background: rgba(0,0,0,0.6);
	padding:5px;
	display: inline;
}
.pdf_wrapper{
	display: inline-block;
	font-size: 30px;
	border:1px solid #ddd;
	padding: 5px;
	border-radius: 0 10px 0 0;
	margin-right: 5px;
	margin-bottom:5px;
	background: #eee;
	cursor: pointer;
}
.searchForm{
	width: 500px;
	margin: auto;
	padding: 20px;	
}