<!DOCTYPE html>
<html ng-app="PANAH-APP">
	<head>
    	<title>PANAH | More than just research</title>
    	<%= javascript_include_tag 'application' %>
    	<%= stylesheet_link_tag    'application', media: 'all' %>
    	<%= csrf_meta_tags %>
    	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  	</head>
	
	<body  class="hold-transition skin-blue sidebar-mini fixed">
		<div panah-initialize="secure" class="wrapper" style="display:none">
			<panah-header></panah-header>
			<panah-sidenav></panah-sidenav>
			<panah-body></panah-body>
			<panah-footer></panah-footer>

		</div>
		<user-login panah-initialize="login" style="display:none" ></user-login>
	</body>

	
</body>
</html>
